<div class="welcome-area" id="welcome" style="background-color:whitesmoke">
    <div class="welcome-image"> 
        
    </div>
    <div class="header-text">
     <div class="container">
         <div class="row">
             <div class="offset-xl-3 col-xl-6 offset-lg-2 col-lg-8 col-md-12 col-sm-12">
                 <h1><strong>OUR VISION</strong>
                 </h1>
                 <h3><p>To hunger free society</p></h3> 
                
                     <a class="btnLink" href="mailto:shubhamthakurgta@gmail.com" class="main-button-slider">Contact Us</a>
             </div>
         </div>
     </div>
    </div>
 </div>
 <div class="fluid-container wave-box my-5">
    <svg class="waves" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
        <defs>
            <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g class="parallax">
            <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
            <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
            <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
            <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
        </g>
    </svg>
</div>

<div class="container ">
    <div class="row">
        <div class="col-md-10 col-sm-6">
            <div class="counter">
                <h1><strong>MISSION</strong></h1>
                <h5><p style=" margin-left: 50px; word-spacing: 3px;">"Our mission is to reduce food waste and promote sustainable food practices by connecting surplus food with those in need. We believe that every person has the right to access nutritious food and that reducing food waste is essential to protect our environment and natural resources. We strive to empower communities to take action and work towards a more sustainable food system. Through our innovative solutions 
                    and partnerships, we aim to create a world where no food goes to waste and every individual has access to healthy and affordable food."</p>
               </h5> 
            </div>
        </div>
        <div class="col-md-10 col-sm-6" style=" margin-top: 50px; margin-left: 300px;">
            <div class="counter blue" style = "margin-top: 30px; margin-left: 0px;">
                <h1><strong>Goals</strong></h1>
                <h5><p style=" margin-left: 50px;"> <fa-icon [icon]="facircle" size = "1x"></fa-icon>   Our goal to be reduce the waste food in out locality upto 50% in next year.<br> <br>

                    <fa-icon [icon]="facircle"></fa-icon>  It is also to encourage people to  stop wasting food and use it in it proper usage</p> </h5>
               
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="counter pink">
                
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="counter purple">
                
            </div>
        </div>
    </div>
</div>

