<div class="welcome-area" id="welcome" style="background-color:white">
    <div class="welcome-image"> 
        
    </div>
    <div class="header-text">
     <div class="container">
         <div class="row">
             <div class="offset-xl-3 col-xl-6 offset-lg-2 col-lg-8 col-md-12 col-sm-12">
                 <h1 style="color: black;"><strong>WHO ARE WE</strong>
                 </h1>
               
                     <a class="btnLink" href="mailto:shubhamthakurgta@gmail.com" class="main-button-slider">Contact Us</a>
             </div>
         </div>
     </div>
    </div>
 </div>
 <div class="fluid-container wave-box my-5">
    <svg class="waves" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
        <defs>
            <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g class="parallax">
            <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
            <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
            <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
            <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
        </g>
    </svg>
</div>


<div class="container container-distance">
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="card">
                <img src="assets/Images & license/shubham.jpeg" alt="Avatar" style="width:100%; height: 300px;">
                <div class="container">
                  <h4><b>Shubham Thakur</b></h4>
                  <p>Full Stack Developer</p>
                </div>
              </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="card">
                <img src="assets/Images & license/slagwal.jpg" alt="Avatar" style="width:100%; height: 300px;">
                
                <div class="container">
                  <h4><b>Sahil Lagwal</b></h4>
                  <p>Front-End Developer</p>
                </div>
              </div>
        </div>
        <div class="col-md-4 col-sm-6">

                <div class="card">
                    <img src="assets/Images & license/ajay.jpeg" alt="Avatar" style="width:100%; height: 300px;">
                    <div class="container">
                      <h4><b>Ajay Thakur</b></h4>
                      <p>Analyst</p>
                    </div>
                  
        </div>  
        
        
       
    </div>
    <div class="col-md-4 col-sm-6 center">
        <div class="card">
            <img src="assets/Images & license/davish.jpeg" alt="Avatar" style="width:100%; height: 300px;">
            <div class="container">
              <h4><b>Davish Mehta</b></h4>
              <p>Architect & Engineer</p>
            </div>
          </div>
    </div>
    
    
        
</div>